body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.contain {
    display: flex;
    justify-content: center;
    align-self: start;
}

.sec {
    flex-basis: calc(50% - 20px);
    /* display: flex; */
    /* align-items: center; */
    margin: 10px;
    padding: 20px;
    /* border: 1px solid #ddd; */
}

.facheading {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style: circle;
    padding: 0;
    
}

.listing {
    font-size: 1.2rem;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .contain {
        flex-direction: column;
    }

    .sec {
        flex-basis: 100%;
    }
}
